.enableBannerContent {
  position: absolute;
  top: 10%;
  margin-left: 5%;
  color: white;
  z-index: 1;
  width: 90%;
  h1 {
    font-size: 3.2rem;
    color: mediumaquamarine;
    line-height: 2;
  }
  p {
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.2;
  }
}

.diverseContentInfo {
  text-align: center;
  h1 {
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 3rem;
    margin-top: 1em;
  }
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 1.6rem;
    font-weight: 545;
    line-height: 2;
  }
  .aboutDiverseContent {
    text-align: center;
    line-height: 2;
  }
}
.diverseImage {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonialsName {
  text-align: center;
}

.testimonialsContentInfo {
  text-align: left;
  margin-left: 230px;
  p {
    font-size: 1.6rem;
    line-height: 2;
    font-weight: 500;
  }
}

.testimonialsImage {
  h2 {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 2.2rem;
  }
}
.diverseContentInfo {
  text-align: center;
}

.diverseContentInfo h1 {
  font-style: italic;
  margin: 1em auto;
}

.diverseContentInfo p {
  line-height: 2;
  width: 80%;
  margin: auto;
}

.diverseImageContainer {
  display: flex;
  flex-direction: row;
  padding: 5vh 10vw;
}
.diverseImageOne img {
  width: 70%;
  height: auto;
}
.diverseImageTwo img {
  width: 50%;
  height: auto;
}
