@import "./variables";
@import "./home";
@import "./community";
@import "./professional";

/* ------- Global Stylings  ----------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "palatino Linotype","Book Antiqua", palatino, serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

section {
  height: 100vh;
  width: 100vw;
  display: block;
  min-width: 300px;
  margin-top: 40vh;
}

h1 {
  text-transform: uppercase;
  font-size: 2.3rem;
}

h2 {
  font-size: 1.7rem;
}

p,
li {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
}
button {
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: mediumaquamarine;
  border: 0;
  border-radius: 15px;
  /* margin-top: 5%; */
  font-weight: bold;
  float: left;
}

/* ------- End Global Stylings  ----------*/

/*------- Header Stylings--------- */
header {
  height: auto;
  width: 100vw;
  padding-top: 10vh;
  background-color: $primaryBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-width: 300px;
  .navBar {
    position: fixed;
    height: 10vh;
    top: 0;
    width: 100vw;
    min-width: 300px;
    padding: 0 3vw;
    background-color: $primaryBlack;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    font-size: 1.5rem;
    z-index: 10;
    box-shadow: 0px 0px 5px 5px black;
    .navLink {
      display: inline-block;
      text-align: center;
      width: 33%;
    }
    .navLinkText {
      font-size: 1.5rem;
      text-align: center;
      display: block;
      white-space: nowrap;
      transition: opacity 0.5s;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
      &:visited {
        color: gray;
      }
    }
    .navLogo {
      background-color: black;
      margin-top: 5vh;
      width: 15vh;
      height: 15vh;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 0px 5px 5px black;
      img {
        width: 80%;
        margin-right: -5%;
        height: auto;
        transition: opacity 0.5s;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  .contactUsButton {
    position: absolute;
    z-index: 3;
    right: 8%;
    top: 20%;
    width: 12vw;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 10px;
    text-transform: uppercase;
    transition: opacity 0.5s;
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
    .mobileContact {
      display: none;
    }
  }
}

/*------- End Header Stylings--------- */

/* LightBox Stylings */

.lightBox {
  position: fixed;
  z-index: 20;
  height: 100vh;
  width: 100vw;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  .lightBoxBackground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .exitIcon {
    top: 5vh;
    right: 5vw;
    font-size: 3rem;
    position: absolute;
    color: white;
    border: 1px rigid black;
    text-shadow: 0px 0px 5px black;
    z-index: 100;
    &:hover {
      color: gray;
      cursor: pointer;
    }
  }
  .lightBoxContent {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    z-index: 3;
  }
  .slideShow {
    height: 80vh;
    width: 70vw;
    display: none;
  }
  .teamMemberLightBox {
    background-color: white;
    width: 60vw;
    padding: 3%;
    height: auto;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .socialMediaIcon {
      display: flex;
      width: 50px;
      height: 50px;
      margin-right: 1vw;
      border-radius: 100%;
      border: 2px solid black;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .iconBar {
      display: flex;
      flex-direction: row;
      margin: 3vh 0;
    }
    ul {
      margin-left: 1.5vw;
    }
    .profileInformation {
      width: 60%;
      margin-left: 5vw;
    }
    .teamProfileImage {
      display: block;
      position: relative;
      img {
        background-color: gray;
        width: 200px;
        height: 200px;
        border-radius: 100%;
      }
      .socialIcon {
        position: absolute;
        width: 100%;
        height: 98%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0px;
        opacity: 0;
        font-size: 5rem;
        color: white;
        &:hover {
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 1;
          cursor: pointer;
        }
      }
    }
  }
  .projectLightBox {
    background-color: black;
    color: white;
    width: 60%;
    height: 70%;
    .weProvide {
      background-color: white;
      color: black;
      height: 33%;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .weOffer,
    .weAdvise {
      height: 33%;
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
    }
    img {
      width: 5vw;
      margin: 5px;
    }
    .weOfferContent,
    .weProvideContent,
    .weAdviseContent {
      text-align: left;
      margin-right: 2em;
    }
  }
}

/* End LightBox Stylings */
